{% extends 'app1/base.html'%}

{%block content%}
<body>
<div class="jumbotron text-center">
    <h1>Welcome Scholer </h1>
    <p>We welcome you from our heart you can find different note here 
      you can upload the note you have to help other ,you can upload book pdf here which will
      help other to find the one u have please contribute some notes book here 
      THANK YOU !</p> 
  </div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
        <h3>
          <a href="{% url 'bookupload'%} " class="btn btn-primary">UPLOAD NOTE/BOOK</a>

        </h3>
        <p>You can upload note you have by specificing the detail in</p>
        <p>You can upload pdf of book you have </p>
    </div>
  <div class="col-sm-6">
    <h3>
      <a href="{% url 'booklist'%}" class="btn btn-primary">LIST ALL NOTE/BOOK</a>

    </h3>
      <p>Downlaod books </p>
      <p>Download Notes</p>
</div>
</body>
{%endblock%}